body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #000;
}

.container {
    display: flex;
    border: 5px solid #616161;
    border-radius: 30px;
    padding: 25px;
    margin:0;
    background-color: #fff;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.dog-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.right {
    display: flex;
    flex-direction: column;
}

.right h1 {
    margin: 0;
    margin-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    color: #000;
    margin: 5px 0;
}

.experience {
    display: flex;
    position: relative;
    margin: 10vh;
}